.button{
  margin-top: 1.5rem;

}
.btn-norm{
  display: block;
  width: 100%;
  background-color: #000;
  border: #000;
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1.6rem;
}
.btn-red{
  background-color: rgb(119, 12, 12);
  border: 1px solid rgb(119, 12, 12);
}
button:focus, .btn-red:focus{
  outline: none;
}